{% extends 'base.html' %}
{% block body %}
<form>
    <div class="row">
        <div class=" row">
            <div class="col-md-6">
                Cliente:<br />
                <input class="form-control" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Funcionario:<br />
                <input class="form-control" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Data:<br />
                <input type="datetime-local" />
                <br />
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-4">
        Servico:<br />
            <label>
                <input type="radio" name="corte" value="cabelo"/>
                <img src="../../static/app/img/cosacortecabelo.png" />
            </label>
            <label>
                <input type="radio" name="corte" value="barba"/>
                <img src="../../static/app/img/cosaagora.png" />
            </label>
            <label>
                <input type="radio" name="corte" value="cabeloebarba"/>
                <img src="../../static/app/img/cosacabelobarba.png" />
            </label>
        <br />
        <br />
        <br />
        <button type="submit" class="btn btn-default">Salvar</button>
        </div>
        </div>
    </div>
</form>
{% endblock %}