{% extends 'base.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class=" row">
            <div class="col-md-6">
                Cliente:<br />
                <select autofocus name="cliente" class="form-control">
                    {% for cliente in clientes %}
                    <option value="{{cliente.id}}">{{cliente.nome}}</option>
                    {% endfor %}
                </select>
            <br />
            </div>
        </div>
        <div class=" row">
            <div class="col-md-4">
                Funcionario:<br />
                <select name="funcionario" class="form-control">
                    {% for funcionario in funcionarios %}
                    <option value="{{funcionario.id}}">{{funcionario.nome}}</option>
                    {% endfor %}
                </select>
            <br />
            </div>
        </div>
        Servico:<br />
            <label>
                <input type="radio" name="corte" value="corte"/>
                <img src="../../static/app/img/cosacortecabelo.png" />
            </label>
            <label>
                <input type="radio" name="corte" value="barba"/>
                <img src="../../static/app/img/cosaagora.png" />
            </label>
            <label>
                <input type="radio" name="corte" value="cabeloebarba"/>
                <img src="../../static/app/img/cosacabelobarba.png" />
            </label>
        <br />
        <br />
        <br />
        <button type="submit" class="btn btn-default">Salvar</button>
    </div>
</form>
{% endblock %}