{% extends 'base.html' %}
{% block body %}
<form method="POST" >
    {% csrf_token %}
    <div class="row">
        <div class=" row">
            <div class="col-md-6">
                Nome:<br />
                <input class="form-control" size="200" maxlength="200" name="nome" type="text" value={{nome}} />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Funcao:<br />
                <input class="form-control" name="func" type="text" value={{func}}/>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Telefone 1:<br />
                <input class="form-control" maxlength="15" name="tel1" type="text" value={{tel1}} />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Telefone 2:<br />
                <input class="form-control" maxlength="15" name="tel2" type="text" value={{tel2}} />
                <br />
            </div>
        </div>
        <br />
        
        <button type="submit" class="btn btn-default">Salvar</button>
        </div>
</form>
{% endblock %}