{% extends 'base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class=" row">
            <div class="col-md-6">
                Nome:<br />
                <input autofocus class="form-control" size="200" maxlength="200" name="nome" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Funcao:<br />
                <select class="form-control" name="func" required="" >
                    <option value="">---------</option>
                    <option value="C">Cabelereiro</option>
                    <option value="R">Recepcionista</option>
                </select>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Telefone 1:<br />
                <input class="form-control" maxlength="15" name="tel1" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Telefone 2:<br />
                <input class="form-control" maxlength="15" name="tel2" type="text" />
                <br />
            </div>
        </div>
        <br />
        
        <button type="submit" class="btn btn-default">Salvar</button>
        </div>
</form>
{% endblock %}