{% extends 'base.html' %}
{% block body %}
{{msg}}
<form method="post">
    {% csrf_token %}
    <div class=" row">
        <div class="col-md-2">
             Comanda N°:<br />
            <input class="form-control" formmethod="get" name="comanda" type="text" />
            <br />
        </div>
    </div>
    <button type="submit" class="btn btn-default">Proximo</button>
    </form>
<form>
    <input type="hidden" name="comanda" value="{{cmd1.id}}" />
    <div class="row">
    <table class="table">
            <thead>
                <tr>
                    <th>Produto</th>
                    <th>Qnt</th>
                    <th>V. Uni</th>
                    <th>V. Total</th>
               </tr>
            </thead>
            <tbody>
                {% for item in teste %}
                <tr>
                    <td>{{item.produto1.nome}}</td>
                    <td>{{item.qnt}}</td>
                    <td>R$ {{item.produto1.preco}}</td>
                    <td>R$ {{item.total}}</td>
                    <td><button type="submit" name="item" value="{{item.id}}" formmethod="get"  class="btn btn-default">Remover</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</form>
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <h3>Total: R${{cmd1.total}}</h3>
    </div>
</div>

{% endblock %}