{% extends 'base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class=" row">
            <div class="col-md-6">
                Nome:<br />
                <input autofocus class="form-control" value="{{produto1.nome}}" name="nome" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Valor de compra:<br />
                <input class="form-control" value="{{produto1.preco_comp}}" name="preco_comp" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Valor de venda:<br />
                <input class="form-control" value="{{produto1.preco_vend}}" name="preco_vend" type="text" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Quantidade:<br />
                <input class="form-control" value="{{produto1.qnt}}" name="qnt" type="number" />
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Obs:<br />
                <input class="form-control" value="{{produto1.obs}}" name="obs" type="text" />
                <br />
            </div>
        </div>
        <div class=" row">
            <div class="col-md-4">
                Tipo:<br />
                <select name="tipo" class="form-control">
                    <option value="P">Barbearia</option>
                    <option value="B">Bar</option>
                </select>
            <br />
            </div>
        </div>
        <br />
        <br />
        <br />
        <button type="submit" class="btn btn-default">Alterar</button>
    </div>
</form>
{% endblock %}
