{% extends 'base.html' %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <div class=" row">
        <div class="col-md-6">
            Produto:<br />
            <input autofocus class="form-control" name="prod" type="text" />
            <br />
        </div>
    </div>

    <button type="submit" class="btn btn-default">Buscar</button>
</form>
<form method="GET" action="/outros/editaprod1">

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Preço compra</th>
                    <th>Preço venda</th>
                    <th>Obs</th>
                    <th>Tipo</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                <tr>
                    <td>{{produto.nome}}</td>
                    <td>{{produto.preco_comp}}</td>
                    <td>{{produto.preco_vend}}</td>
                    <td>{{produto.obs}}</td>
                    {% if produto.tipo == 'B' %}
                        <td>Bar</td>
                    {% endif %}
                    {% if produto.tipo == 'P' %}
                        <td>Barbearia</td>
                    {% endif %}
                    <td><button class="btn btn-default" value={{produto.id}} name="id" type="submit">Editar</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>
{% endblock %}
