{% extends 'base.html' %}
{% block body %}
<h2>Total em caixa: R$ {{total.total}}</h2>
<div class="container">
    <ul class="nav navbar-nav">
        <li><a href="/caixa/extrato"><img src="../../static/app/img/cosaextrato.png" /><center>Extrato</center></a></li>
        <li><a href="/caixa/retirada"><img src="../../static/app/img/cosaretirada.png" /><center>Retirada</center></a></li>
        <li><a href="/caixa/fechacaixa"><img src="../../static/app/img/cosafechacaixa.png" /><center>Fechar Caixa</center></a></li>
    </ul>
</div>

{% endblock %}