{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <h3><label>Rubens</label></h3>
       <table class="table">
            <tr>
                <th>Servico</th>
                <th>Valor</th>
            </tr>
            {% for servico1 in cmd_rubens %}
            <tr>
                <td>{{servico1.servico2}}</td>
                <td>{{servico1.servico2.preco}}</td>
            </tr>
            {% endfor %}
        </table>
        <h4>Total: R$</h4>
    </div>

    <div class="col-md-6">
        <h3><label>Jefferson</label></h3>
        <table class="table">
            <tr>
                <th>Servico</th>
                <th>Valor</th>
            </tr>
            {% for servico1 in cmd_jefferson %}
            <tr>
                <td>{{servico1.servico2}}</td>
                <td>{{servico1.servico2.preco}}</td>
            </tr>
            {% endfor %}
        </table>
        <h4>Total: R$ {{total1}}</h4>
    </div>
</div>
{% endblock %}