{% extends 'base.html' %}
{% block body %}
<h2>Total em caixa: R$ {{total.total}}</h2>
<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="row">
            <div class="col-md-4">
               <h4> Valor da retirada:</h4>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input autofocus name="valor" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">

            </div>
            </div>
        </div><br />
        <button type="submit" class="btn btn-default">Retirar</button>
    </div>
</form>
{% endblock %}