{% extends 'base.html' %}
{% block body %}
<form method="post">
    {% csrf_token %}
    <div class=" row">
        <div class="col-md-6">
            Produto:<br />
            <select name="produto" class="form-control">
                {% for produto in produtos %}
                <option value="{{produto.id}}">{{produto.nome}}</option>
                {% endfor %}
            </select>
        <br />
        </div>
    </div>
    <div class=" row">
        <div class="col-md-2">
            Quantidade:<br />
            <input class="form-control" name="qnt" value="1" type="number" />
        <br />
        </div>
    </div>
    <button type="submit" class="btn btn-default">Adicionar</button>
</form>
{% endblock %}